@{
  Layout = "_Layout";
}

<h1>Trollsona Tracker</h1>
<p>@Html.ActionLink("See all trolls", "Index", "Trolls")</p>
<p>@Html.ActionLink("See all blood castes", "Index", "BloodCastes")</p>
<p>@Html.ActionLink("See all strife specibi", "Index", "StrifeSpecibi")</p>